body {
    background-color: #8a927cff;
}

.site-header {
    background-color: #434a53ff;
    color: #CCC;
}

.site-header > .wrapper a:visited, .site-header > .wrapper a {
    color: #CCC;
    text-decoration: none;
}

.site-header > .wrapper a:hover {
    text-decoration: dotted;
    color: #EEE;
}

.site-header > .wrapper {
    width: 100%;
}

html > body > main.page-content > div.wrapper > article.post > div.post-content > section.hero > li {
    list-style-type: none;
    background-color: #755b69;
    padding: 20px;
    margin-bottom: 10px;
}

html > body > main.page-content > div.wrapper > article.post > div.post-content > section.hero > li > span {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0px;
    right: -600px;
    border-radius: 2px;
    background-color: #ffa600ff;
    width: 100px;
}

.hero > li > h2 > a {
    color: #070707;
}

.hero > li > p {
    color: #F7F7C7;
}

html > body > main.page-content > div.wrapper > article.post > div.post-content > section.hero > li > h2 > a {
    text-decoration: none;
}

.footer-col-wrapper
{
    color: #FFF;
}

/* CSS HEX
--charcoal: #434a53ff;
--lavender-web: #dbd4edff;
--reseda-green: #8a927cff;
--orange-web: #ffa600ff;
--white: #ffffffff;

/* CSS HSL 
--charcoal: hsla(214, 11%, 29%, 1);
--lavender-web: hsla(257, 41%, 88%, 1);
--reseda-green: hsla(82, 9%, 53%, 1);
--orange-web: hsla(39, 100%, 50%, 1);
--white: hsla(0, 0%, 100%, 1); */
