:root {
    --primary-bg-colour: #EEE;
    --secondary-bg-colour: #434a53ff;
    --tertiary-bg-colour: #ffa600ff;
    --quaternary-bg-colour: #755b69;

    --primary-font-colour: #CCC;
    --secondary-font-colour: #EEE;
    --tertiary-font-colour: #070707;
    --quaternary-font-colour: #F7F7C7;
  }
  

body {
    background-color: var(--primary-bg-colour);
}

.site-header {
    background-color: var(--secondary-bg-colour);
    color: var(--secondary-font-colour);
}

.site-header > .wrapper a:visited, .site-header > .wrapper a {
    color: var(--secondary-font-colour);
    text-decoration: none;
}

.site-header > .wrapper a:hover {
    text-decoration: dotted;
    color: var(--tertiary-font-colour);
}

.site-header > .wrapper {
    width: 100%;
}

html > body > main.page-content > div.wrapper > article.post > div.post-content > section.hero > li {
    list-style-type: none;
    background-color: var(--tertiary-bg-colour);
    padding: 20px;
    margin-bottom: 10px;
}

html > body > main.page-content > div.wrapper > article.post > div.post-content > section.hero > li > span {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0px;
    right: -600px;
    border-radius: 2px;
    background-color: var(--quaternary-bg-colour);
    color: var(--secondary-font-colour);
    width: 100px;
}

.hero > li > h2 > a {
    color: var(--secondary-bg-colour);
}

.hero > li > p {
    color: var(--secondary-bg-colour);
}

html > body > main.page-content > div.wrapper > article.post > div.post-content > section.hero > li > h2 > a {
    text-decoration: none;
}

.footer-col-wrapper
{
    color: var(--primary-bg-colour);
}
